<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="IoT.Data.Properties.Settings.TablesConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=&quot;D:\Users\DG185090\documents\visual studio 2015\Projects\Git\IotApi\IotApi\IotApi\App_Data\Tables.mdf&quot;;Integrated Security=True;MultipleActiveResultSets=True;Application Name=EntityFramework"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>